@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;400;700&display=swap');
$mobile: 375px;
$desktop: 1440px;

$primary-orange: hsl(25, 97%, 53%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-light-gray: hsl(217, 12%, 63%);
$neutral-medium-gray: hsl(216, 12%, 54%);
$neutral-dark-blue: hsl(213, 19%, 18%);
$neutral-very-dark-blue: hsl(216, 12%, 8%);

$primary-font-size: 15px;
$primary-font-family: 'Overpass', sans-serif;