@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;400;700&display=swap');
$mobile-width: 375px;
$tablet-width: 720px;
$desktop-width: 1440px;

$primary-orange: hsl(25, 97%, 53%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-light-gray: hsl(217, 12%, 63%);
$neutral-medium-gray: hsl(216, 12%, 54%);
$neutral-dark-blue: hsl(213, 19%, 18%);
$neutral-very-dark-blue: hsl(216, 12%, 8%);

$primary-font-size: 15px;
$primary-font-family: 'Overpass', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: $primary-font-family;
    font-size: $primary-font-size;
    padding: 10px;
    background-color: darken($neutral-very-dark-blue, 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.container {
    width: 100%;
    max-width: $mobile-width;
    background: linear-gradient($neutral-dark-blue, $neutral-very-dark-blue);
    margin: 10px;
    border-radius: 10px;
    padding: 25px 20px;
}

.star {
    width: 45px;
    padding: 15px;
    border-radius: 50%;
    background-color: darken($neutral-dark-blue, 5);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.header {
    color: $neutral-white;
    font-size: 2rem;
    font-weight: 100;
    margin: 15px 0;
}

.paragraph {
    font-size: 1.2rem;
    color: $neutral-medium-gray;
    line-height: 1.4;
}

.points-container {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .point {
        width: 45px;
        padding: 15px;
        border-radius: 50%;
        background-color: $neutral-very-dark-blue;
        color: $neutral-medium-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
    }
    
    .point:hover {
        background-color: $neutral-light-gray;
        color: $neutral-white;
    }
    
    .point.point--click {
        background-color: $primary-orange;
        color: $neutral-white;
    }
}

.submit {
    margin-top: 10px;
    width: 100%;
    border: none;
    background-color: $primary-orange;
    color: $neutral-white;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
        background-color: $neutral-white;
        color: $primary-orange;
    }
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .selected {
        margin: 10px auto;
        display: inline-block;
        text-align: center;
        background-color: darken($neutral-dark-blue, 7);
        padding: 6px 12px;
        color: $primary-orange;
        border-radius: 15px;
        font-weight: 100;
    }
}

.selected-container ~ .header,
.selected-container ~ .paragraph {
    text-align: center;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }